---
layout: page
title: Main
weight: 1.5
show: 1
---

<div class="col-7">
    <center>
  <table>
<tr><td style="padding:10px 90px 10px 0px">
      <img width="200px" class="img-rounded" src="images/my_photo.jpeg" />
  </td><td style="padding:10px">
    <center>
    <h1> Zhen Zhou </h1>
    <b>Research Fellow</b>
    <br><a href="https://lcn.martinos.org/">Laboratories for Computational Neuroimaging (LCN)</a>
     <br> <b>MGH, Harvard Medical School</b> <br>
    <span style="font-size:15px"><a href="mailto:zzhou22@mgh.harvard.edu">[zzhou22@mgh.harvard.edu]</a> <a href="cv/My_CV.pdf">[cv]</a></span> </h1> <br>
</center>

      </td>
  </tr>
  </table>
  </center>
<br>
</div>

<p style="font-size: 18px">
  Currently, I am a Research Fellow at the Athinoula A. Martinos Center for Biomedical Imaging, 
  working under superversion of <a href="https://www.nmr.mgh.harvard.edu/~iman/">Dr. Iman Aganj</a> and co-mentored by <a href="https://lcn.martinos.org/people/fischl/">Dr. Bruce Fischl</a>. 
  My research focuses on developing advanced harmonization methods for brain connectivity, 
  specifically addressing critical challenges in multi-site neuroimaging studies.
</p>


<p styple="text-align: justify">
  <p style="font-size: 18px">
  Before joining the Martinos Center, I was a postdoctoral researcher at the <a href="https://www.med.upenn.edu/cbica/">Center for Biomedical 
  Image Computing and Analytics</a> at the University of Pennsylvania, where I led comprehensive
  research focused on understanding brain aging through multiscale functional connectivity analysis. 
  I also had the chance to work with Dr. Dinggang Shen and Dr. Han Zhang at the University of North 
  Carolina at Chapel Hill during my last two years of Ph.D., where I developed BrainNetClass toolbox
  and helped develop the first infant-dedicated resting-state fMRI data analysis pipeline in the 
  Baby Connectome Project.
  </p>
</p>

<h3> News </h3>
<p style="font-size: 18px">
  <ul style="font-size: 18px">
    <li> 2023.07.22: I am excited to join the <a href="https://lcn.martinos.org/">Laboratories for Computational Neuroimaging (LCN)</a> at MGH as a Research Fellow! </li>
  </ul>
</p>


<h3> Current Research Areas </h3>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> Alternative architectures for deep learning on language . </li>
  <li> Methods for scaling open language models.  </li>
  <li> Efficient algorithms and hardware for language tasks.  </li>
  <li> Security in AI systems. </li>
</ul>
</p>

<h3> Recognition </h3>


<p style="font-size: 18px">
My group's work has been recognized with an NSF CAREER Award and a Sloan Fellowship. We have won paper awards at conferences for NLP, Hardware, and Visualization, as well as awards for best demonstrations for open-source software.
</p>

<h3>Selected Papers</h3>

<p style="font-size: 18px">
A selection of papers that represent my research interests and style.
</p>

<table>
{% for paper in site.data.papers.notable %}

  <tr><td style="padding:10px">
      {% if paper.image %}
      <a href="{{paper.pdf}}"><img width="150px" style="min-width:100px" src="{{paper.image}}"></a>
      {% else %}
      <a href="{{paper.pdf}}"><img height="75px" style="min-width:100px" src="https://avatar.tobi.sh/{{paper.title}}"></a>

      {% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{paper.pdf}}">
{{paper.title}}
</a><br>
{{paper.authors}}.<br>
{{paper.conference}} <br>

<br>

</td></tr>

{% endfor %}
</table>


<h3>Contact</h3>


<div class="paper-section">
zzhou22 at mgh.harvard.edu by email <br>
</div>
<br>

<!--
<h3>Funding</h3>
      <p style="font-size: 18px">
        Our group has been generously supported through research grants and
        gifts from the following industrial institutions:
        <br>
        <br>
      </p>
          </div>
      <div class = "row">
      <center style="span">
        <img width="85px" style="display: inline" src="logos/oracle.png">
        <img width="85px" style="display: inline" src="logos/systranlogo.png">
        <img width="85px" style="display: inline" src="logos/google.jpg">
        <img width="85px" style="display: inline" src="logos/bloomberg.jpg">
        <img width="85px" style="display: inline" src="logos/microsoft.jpg">
        <img width="85px" style="display: inline" src="logos/aws.png">
        <img width="85px" style="display: inline" src="logos/fb.png">
        <img width="85px" style="display: inline" src="logos/intel.jpg">
      </center>
<br>
-->
